{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Donate Blood</title>
{% endblock title %}

{% block content %}
<div class="swiper-slide hero-content-wrap" style="background-image: url({% static 'images/hero4.jpg' %})">

    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <div class="homepage-boxes">
                    <div class="container">
                        <div class="row">
                            {% if user.is_authenticated %}
                            <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                                <div class="appointment-box">
                                    <h2 class="d-flex align-items-center">Donate Blood</h2><br>
                                    <form class="d-flex flex-wrap justify-content-between" method="post"
                                        action="donate">
                                        {% csrf_token %}
                                        <select class="select-blood-group" name="blood_group">
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                        </select>
                                        <select class="select-doctor" name="city">
                                            <option>Patna</option>
                                            <option>Kolkata</option>
                                            <option>Chennai</option>
                                            <option>Chandigarh</option>
                                            <option>Delhi</option>
                                            <option>Mumbai</option>
                                            <option>Lucknow</option>
                                            <option>Jaipur</option>
                                            <option>Bhopal</option>
                                        </select>
                                        <input type="text" name="donorname" placeholder="Name">
                                        <input type="number" name="contact" placeholder="Phone No">
                                        <input class="button gradient-bg" type="submit" value="Request">
                                    </form>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br>

{% endblock %}