{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Blood Donation</title>
{% endblock title %}

{% block style %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  th {
    background-color: #4CAF50;
    color: white;
  }
</style>
{% endblock %}

{% block content %}

<header style="background-image: url({% static 'images/hero0.jpg' %})">
  <div class="container"><br>
    <div class="row">
      <div class="col-md-6 ">
        <table style="width:100%" class="text-dark text-center table table-danger table-striped">
          <thead>
            <tr>
              <th style="color: black;">Height in foot </th>
              <th style="color: black;">Man Weight</th>
              <th style="color: black;">Woman Weight </th>
            </tr>
          </thead>
          <tbody>
            {% for i in a %}
            <tr>
              <td>{{i.height}}</td>
              <td>{{i.man}}</td>
              <td>{{i.woman}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div>

        </div>
      </div>
     <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-danger">
            <center><strong style="color: white ;">Compatible Blood Type Donors</strong> </center>
        </div>
        <div class="card-body">
            <table class="table text-center text-dark" height="50%">
                <thead>
                    <tr>
                        <th style="color: black ;">Blood Type</th>
                        <th style="color: black ;">Donate Blood To</th>
                        <th style="color: black ;">Received Blood From</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A+</td>
                        <td>A+ AB+</td>
                        <td>A+ A- O+ O-</td>
                    </tr>
                    <tr>
                        <td>O+ </td>
                        <td>O+ A+ B+ AB+</td>
                        <td>O+ O-</td>
                    </tr>
                    <tr>
                        <td>B+ </td>
                        <td>B+ AB+ B+ B-</td>
                        <td>O+ O-</td>
                    </tr>
                    <tr>
                        <td>AB+</td>
                        <td>AB+</td>
                        <td>Everyone</td>
                    </tr>
                    <tr>
                        <td>A- </td>
                        <td>A+ A- AB+ AB-</td>
                        <td>A- O-</td>
                    </tr>
                    <tr>
                        <td>A+</td>
                        <td>A+ AB+</td>
                        <td>A+ A- O+ O-</td>
                    </tr>
                    <tr>
                        <td>O-</td>
                        <td>Everyone</td>
                        <td>O-</td>
                    </tr>
                    <tr>
                        <td>AB- </td>
                        <td>B+ B- AB+ AB-</td>
                        <td>B- O-</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
     </div>
    </div>
  </div><br>
</header>
{% endblock %}