{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Facts of Blood Donation</title>
{% endblock title %}

{% block style %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<div class="" style="background-image: url({% static 'images/hero.jpg' %})">
    <div class="">
        {% comment %} homepage-boxes {% endcomment %}
        <div class="container">
            <div class="row">
                <div>
                    <table style="width:100%" class="text-dark table table-danger table-striped">
                        <tr>
                            <h3><th>Facts Of Blood Donation</th></h3>
                        </tr>
                        {% for i in a %}
                        <tr>
                            <td><li>{{i.factt}}</li></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div>
                    </div>
                </div>
                
            </div>
        </div>
    </div><br>
</div><!-- .row -->



{% endblock %}