{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>login</title>
{% endblock title %}

{% block content %}

<header style="background-image: url({% static 'images/hero0.jpg' %})">
    <div class="container"><br>
        <div class="row">
            <div class="col-sm-6 offset-md-3">
                <div class="card shadow-lg bg-light">
                    <div class="card-body">
                        <center>
                            <h2 class="title">Login</h2>
                            <hr>
                        </center>
                        <form action="login" method="post" class="form-group">
                            {% csrf_token %}
                            <label for="username"><b>Username: </b></label>
                            <input class="form-control" type="text" id="00C" name="username" placeholder="username"><br>
                            <label for="password"><b>Password: </b></label>
                            <input class="form-control" type="password" id="00Q" name="password"
                                placeholder="password"><br>

                            <button class="btn btn-sm btn-dark text-dark"
                                type="submit"><b>Login</b></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <b>Not have an account...? <a class="" style="text-decoration:none;"
                                    href="register">Register</a></b>

                        </form>
                        <div>

                            {% for message in messages %}
                            {{message}}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><br>
</header>


{% endblock %}