{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Register</title>
{% endblock title %}


{% block content %}
<header style="background-image: url({% static 'images/hero0.jpg' %})">
    <div class="container"><br>
        <div class="row">
            <div class="col-sm-6 offset-md-3">
                <div class="card bg-light shadow-lg">
                    <div class="card-body">
                        <center>
                            <h2 class="title">Registration</h2><hr>
                        </center>
                        <form action="register" method="post" class="form-group">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <label for="00A"><b>First name:</b> </label>
                                    <input class="form-control" required type="text" id="00A" name="first_name"
                                        placeholder="first name">
                                </div>
                                <div class="col">
                                    <label for="00B"><b>Last name:</b> </label>
                                    <input class="form-control" required type="text" id="00B" name="last_name"
                                        placeholder="last name">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="00C"><b>User name:</b> </label>
                                    <input class="form-control" required type="text" id="00C" name="username"
                                        placeholder="username">
                                </div>
                                <div class="col">
                                    <label for="00D"><b>Email:</b> </label>
                                    <input class="form-control" required type="email" id="00D" name="email"
                                        placeholder="email">
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <label for="00E"><b>Password:</b> </label>
                                    <input class="form-control" required type="password" id="00E" name="password1"
                                        placeholder="password">
                                </div>
                                <div class="col">
                                    <label for="00F"> <b>Confirm Password:</b>  </label>
                                    <input class="form-control" required type="password" id="00F" name="password2"
                                        placeholder="confirm password">
                                </div>
                            </div>
                                <br>
                            <button class="btn btn-sm btn-dark text-dark" type="submit"> <b>Register</b> </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <b>Already have an account <a class="" href="login">Login</a></b>
                        </form>
                        <div>

                            {% for message in messages %}
                            {{message}} <br>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div><br>
</header>





{% endblock %}